In [218]:
import pandas as pd
path="C:\\Users\\ayush\\Downloads\\task_4.csv"
df=pd.read_csv(path)
#print(df.to_string())

In [219]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,yes,2.0,Haanji,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,yes,NaN,no,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,Naaji,2.0,yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,yes,2.0,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,no,NaN,no,no,NaN,no,unfurnished
541,1767150,NaN,3.0,1.0,1.0,no,ille,no,no,Nah,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,n,unfurnished
543,1750000,NaN,NaN,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,no,0.0,Naaji,NaN

In [220]:
#checking number of null values
df.isnull().sum()

price                 0
area                206
bedrooms            187
bathrooms           183
stories             185
mainroad            194
guestroom           210
basement            204
hotwaterheating     204
airconditioning     188
parking             208
prefarea            188
furnishingstatus    187
dtype: int64

In [221]:
#print null values of column area
df[df['area'].isna()==1]

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
5,10850000,NaN,NaN,NaN,NaN,NaN,no,Haanji,no,yes,NaN,yes,semi-furnished
6,10150000,NaN,4.0,NaN,4.0,yes,no,NaN,NaN,yes,NaN,yes,semi-furnished
11,9681000,NaN,NaN,NaN,NaN,yes,Of course,NaN,NaN,NaN,2.0,NaN,semi-furnished
15,9100000,NaN,4.0,NaN,2.0,NaN,NaN,NaN,no,no,2.0,no,semi-furnished
16,9100000,NaN,NaN,2.0,2.0,yes,NaN,NaN,no,yes,NaN,yes,unfurnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,1890000,NaN,3.0,NaN,2.0,yes,NaN,Naaji,no,no,NaN,NaN,NaN
539,1855000,NaN,2.0,NaN,NaN,NaN,no,no,NaN,NaN,NaN,no,NaN
540,1820000,NaN,2.0,NaN,1.0,NaN,no,NaN,no,no,NaN,no,unfurnished
541,1767150,NaN,3.0,1.0,1.0,no,ille,no,no,Nah,NaN,NaN,NaN
543,1750000,NaN,NaN,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished

In [222]:
#check for duplicate values
df.duplicated().any()

False

In [223]:
#print number of duplicate values
df.duplicated().sum()

0

In [224]:
#print datatype of different column
df.dtypes

price                 int64
area                float64
bedrooms            float64
bathrooms           float64
stories             float64
mainroad             object
guestroom            object
basement             object
hotwaterheating      object
airconditioning      object
parking             float64
prefarea             object
furnishingstatus     object
dtype: object

In [225]:
#convert datatype
#df['parking'].astype('int')

In [226]:
#o access rows
# df=df.drop(0,axis=0)
# df
#to access column
# df=df.drop('price',axis=1)
# df

In [227]:
print(df['stories'].unique())
print(df['bedrooms'].unique())
print(df['bathrooms'].unique())
print(df['mainroad'].unique())
print(df['guestroom'].unique())
print(df['basement'].unique())
print(df['hotwaterheating'].unique())
print(df['airconditioning'].unique())
print(df['parking'].unique())
print(df['prefarea'].unique())
print(df['furnishingstatus'].unique())

[ 3.  4.  2. nan  1.]
[ 4. nan  3.  5.  2.  6.  1.]
[nan  4.  2.  1.  3.]
[nan 'yes' 'Of course' 'Indeed' 'yep' 'Haan' 'True' 'y' 'Y' "['y']" 'Nope'
 'Yo' 'no' 'Haanji' 'Nakko' 'False' 'Naaji' 'N' 'n']
[nan 'no' 'Of course' 'yes' 'ille' 'y' 'N' 'Yo' 'Nakko' 'Y' 'Naaji' 'n'
 'False' "['n']" 'Haan' 'Nah' 'yep' 'Haanji' 'True' 'Nope' 'Indeed']
[nan 'no' 'yes' 'Haanji' 'N' 'Naaji' 'n' 'y' 'False' 'Haan' 'Nakko' 'ille'
 'Nah' 'True' 'yep' 'Nope' 'Indeed' "['n']" 'Of course' 'Y' 'Yo']
[nan 'Nakko' 'no' 'Nope' 'yes' 'Nah' 'Y' 'n' 'False' 'Naaji' 'ille' 'N'
 "['n']" 'Haan' 'y']
['yes' 'Naaji' 'no' nan 'yep' 'y' 'True' "['y']" 'Y' "['n']" 'n' 'N'
 'Nakko' 'Nah' 'ille' 'False' 'Nope' 'Of course' 'Haanji']
[ 2. nan  3.  0.  1.]
['Haanji' 'no' 'yes' 'Haan' nan 'Of course' 'Nakko' 'Nope' 'ille' 'N'
 'yep' 'y' 'Naaji' 'True' 'Y' 'n' "['n']" 'False' 'Yo' 'Nah']
['furnished' 'semi-furnished' nan 'unfurnished']

In [228]:
#null_values=["nan","Of course" ,"Indeed", "yep" ,"Haan" ,"True" ,"y", "Y", "['y']"," Nope","Yo","Haanji","Nakko","False" ,"Naaji", "N" ,"n","ille","N","['n']","Nah"]

In [229]:
#df=pd.read_csv(path,na_values=null_values)

In [230]:
#df.isnull().sum()

In [231]:
#replacing null values
wtrue=["Of course" ,"Indeed", "yep" ,"Haan" ,"True" ,"y", "Y", "['y']","Yo","Haanji"]
rtrue='yes'
wfalse=["Nope","Nakko","False" ,"Naaji", "N" ,"n","ille","N","['n']","Nah"]
rfalse='no'
df['mainroad']=df['mainroad'].replace(wtrue,rtrue)
df['mainroad']=df['mainroad'].replace(wfalse,rfalse)
df['guestroom']=df['guestroom'].replace(wtrue,rtrue)
df['guestroom']=df['guestroom'].replace(wfalse,rfalse)
df['basement']=df['basement'].replace(wtrue,rtrue)
df['basement']=df['basement'].replace(wfalse,rfalse)
df['hotwaterheating']=df['hotwaterheating'].replace(wtrue,rtrue)
df['hotwaterheating']=df['hotwaterheating'].replace(wfalse,rfalse)
df['airconditioning']=df['airconditioning'].replace(wtrue,rtrue)
df['airconditioning']=df['airconditioning'].replace(wfalse,rfalse)
df['parking']=df['parking'].replace(wtrue,rtrue)
df['parking']=df['parking'].replace(wfalse,rfalse)
df['prefarea']=df['prefarea'].replace(wtrue,rtrue)
df['prefarea']=df['prefarea'].replace(wfalse,rfalse)

In [232]:
#to display specific columns
#display(df.iloc[6])

In [233]:
#display number of null values
df.isnull().sum()

price                 0
area                206
bedrooms            187
bathrooms           183
stories             185
mainroad            194
guestroom           210
basement            204
hotwaterheating     204
airconditioning     188
parking             208
prefarea            188
furnishingstatus    187
dtype: int64

In [234]:
#replacing null values
df=df.fillna({
    'parking':0,
    'bedrooms':1,
    'bathrooms':1,
    'stories':1,
    #'basement':'no'
    #'prefarea':'no'
    
})

In [235]:
#dropping columns with null values
df=df.dropna(subset=['furnishingstatus'])
df=df.dropna(subset=['airconditioning'])
df=df.dropna(subset=['hotwaterheating'])
df=df.dropna(subset=['guestroom'])
#df=df.dropna(subset=['area'])
df=df.dropna(subset=['mainroad'])
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,12250000,8960.0,1.0,4.0,4.0,yes,no,no,no,yes,0.0,no,furnished
13,9240000,3500.0,4.0,1.0,1.0,yes,no,no,yes,no,2.0,no,furnished
29,8400000,NaN,4.0,1.0,2.0,yes,no,yes,no,yes,1.0,yes,semi-furnished
31,8400000,7000.0,3.0,1.0,4.0,yes,no,no,no,yes,2.0,NaN,semi-furnished
44,7560000,6000.0,4.0,1.0,4.0,yes,no,no,no,yes,1.0,NaN,furnished
56,7343000,NaN,1.0,1.0,2.0,yes,no,yes,no,no,0.0,yes,semi-furnished
64,7000000,11175.0,1.0,1.0,1.0,yes,no,yes,no,yes,0.0,NaN,furnished
69,6790000,NaN,1.0,2.0,2.0,yes,no,NaN,no,no,2.0,NaN,furnished
73,6685000,6600.0,2.0,2.0,4.0,yes,no,NaN,no,no,0.0,yes,furnished
77,6650000,6500.0,3.0,1.0,1.0,yes,no,NaN,no,yes,0.0,yes,furnished
96,6300000,9000.0,3.0,1.0,1.0,yes,no,yes,no,no,1.0,yes,furnished
103,6195000,6350.0,1.0,1.0,3.0,yes,yes,NaN,no,yes,0.0,no,furnished
111,6090000,NaN,1.0,1.0,3.0,yes,no,no,no,yes,2.0,no,unfurnished
132,5810000,NaN,1.0,1.0,3.0,yes,no,NaN,no,yes,0.0,NaN,semi-furnished
133,5810000,NaN,1.0,1.0,3.0,yes,no,NaN,no,yes,0.0,no,unfurnished
136,5740000,5400.0,4.0,2.0,1.0,yes,no,no,no,yes,2.0,no,unfurnished
143,5600000,NaN,5.0,2.0,3.0,no,no,yes,yes,no,0.0,NaN,unfurnished
149,5600000,NaN,4.0,2.0,1.0,yes,no,yes,no,no,0.0,yes,semi-furnished
154,5530000,3650.0,3.0,2.0,1.0,yes,no,NaN,no,no,0.0,no,semi-furnished
164,5390000,6710.0,1.0,2.0,1.0,yes,yes,yes,no,no,1.0,NaN,furnished
166,5320000,7800.0,3.0,1.0,1.0,yes,no,NaN,no,yes,2.0,yes,unfurnished
195,4970000,4410.0,4.0,3.0,1.0,yes,no,NaN,no,no,2.0,NaN,semi-furnished
203,4900000,NaN,1.0,1.0,2.0,yes,no,NaN,no,no,0.0,no,semi-furnished
205,4900000,NaN,1.0,1.0,1.0,yes,no,no,no,yes,2.0,no,semi-furnished
223,4760000,6321.0,1.0,1.0,2.0,yes,no,yes,no,yes,0.0,NaN,furnished
224,4760000,10240.0,1.0,1.0,1.0,yes,no,NaN,no,yes,0.0,yes,unfurnished
236,4620000,2870.0,2.0,1.0,1.0,yes,yes,NaN,no,no,0.0,NaN,semi-furnished
246,4550000,NaN,3.0,1.0,1.0,yes,no,NaN,no,no,0.0,yes,semi-furnished
256,4480000,4000.0,3.0,1.0,1.0,yes,no,NaN,no,no,2.0,no,furnished
273,4340000,3500.0,4.0,1.0,2.0,yes,no,no,no,no,0.0,NaN,furnished
282,4270000,NaN,1.0,1.0,2.0,no,yes,yes,no,yes,0.0,no,unfurnished
289,4200000,5850.0,2.0,1.0,1.0,yes,yes,yes,no,no,2.0,NaN,semi-furnished
294,4200000,NaN,4.0,1.0,2.0,no,no,no,no,no,0.0,no,semi-furnished
299,4200000,NaN,3.0,1.0,1.0,yes,no,NaN,no,no,3.0,no,furnished
313,4095000,3680.0,1.0,1.0,2.0,yes,no,no,no,no,0.0,no,semi-furnished
321,4025000,NaN,1.0,2.0,1.0,yes,no,no,yes,no,2.0,NaN,semi-furnished
329,3990000,3960.0,1.0,1.0,1.0,yes,no,no,no,no,0.0,no,furnished
349,3780000,4820.0,3.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,semi-furnished
358,3745000,NaN,2.0,1.0,1.0,yes,no,no,no,no,0.0,yes,semi-furnished
374,3640000,3520.0,1.0,1.0,1.0,yes,no,NaN,no,no,0.0,no,semi-furnished
380,3605000,4500.0,1.0,1.0,1.0,yes,no,NaN,no,no,0.0,no,semi-furnished
381,3605000,4000.0,1.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,semi-furnished
385,3570000,NaN,2.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
387,3500000,4240.0,1.0,1.0,2.0,yes,no,no,no,yes,0.0,NaN,semi-furnished
388,3500000,NaN,1.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
390,3500000,2135.0,3.0,1.0,1.0,no,no,NaN,no,no,0.0,NaN,unfurnished
401,3500000,9500.0,1.0,1.0,1.0,yes,no,NaN,no,no,0.0,NaN,unfurnished
406,3465000,5320.0,2.0,1.0,1.0,yes,no,NaN,no,no,0.0,yes,unfurnished
410,3430000,NaN,1.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
457,3115000,3000.0,3.0,1.0,1.0,no,no,NaN,no,yes,0.0,NaN,unfurnished
458,3115000,3850.0,3.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,unfurnished
462,3080000,NaN,3.0,1.0,2.0,no,no,yes,no,no,0.0,NaN,semi-furnished
467,3010000,3240.0,3.0,1.0,1.0,yes,no,no,no,no,0.0,no,semi-furnished
479,2940000,NaN,4.0,1.0,1.0,no,no,NaN,no,no,0.0,no,unfurnished
484,2870000,3040.0,2.0,1.0,1.0,no,no,no,no,no,0.0,no,unfurnished
521,2408000,3635.0,2.0,1.0,1.0,no,no,no,no,no,0.0,no,unfurnished
524,2380000,3264.0,1.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,unfurnished
531,2233000,5300.0,3.0,1.0,1.0,no,no,no,no,yes,0.0,yes,unfurnished
543,1750000,NaN,1.0,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished

In [236]:
#used to fill null values
df['area']=df['area'].interpolate(method='linear')

In [237]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,12250000,8960.000000,1.0,4.0,4.0,yes,no,no,no,yes,0.0,no,furnished
13,9240000,3500.000000,4.0,1.0,1.0,yes,no,no,yes,no,2.0,no,furnished
29,8400000,5250.000000,4.0,1.0,2.0,yes,no,yes,no,yes,1.0,yes,semi-furnished
31,8400000,7000.000000,3.0,1.0,4.0,yes,no,no,no,yes,2.0,NaN,semi-furnished
44,7560000,6000.000000,4.0,1.0,4.0,yes,no,no,no,yes,1.0,NaN,furnished
56,7343000,8587.500000,1.0,1.0,2.0,yes,no,yes,no,no,0.0,yes,semi-furnished
64,7000000,11175.000000,1.0,1.0,1.0,yes,no,yes,no,yes,0.0,NaN,furnished
69,6790000,8887.500000,1.0,2.0,2.0,yes,no,NaN,no,no,2.0,NaN,furnished
73,6685000,6600.000000,2.0,2.0,4.0,yes,no,NaN,no,no,0.0,yes,furnished
77,6650000,6500.000000,3.0,1.0,1.0,yes,no,NaN,no,yes,0.0,yes,furnished
96,6300000,9000.000000,3.0,1.0,1.0,yes,no,yes,no,no,1.0,yes,furnished
103,6195000,6350.000000,1.0,1.0,3.0,yes,yes,NaN,no,yes,0.0,no,furnished
111,6090000,6112.500000,1.0,1.0,3.0,yes,no,no,no,yes,2.0,no,unfurnished
132,5810000,5875.000000,1.0,1.0,3.0,yes,no,NaN,no,yes,0.0,NaN,semi-furnished
133,5810000,5637.500000,1.0,1.0,3.0,yes,no,NaN,no,yes,0.0,no,unfurnished
136,5740000,5400.000000,4.0,2.0,1.0,yes,no,no,no,yes,2.0,no,unfurnished
143,5600000,4816.666667,5.0,2.0,3.0,no,no,yes,yes,no,0.0,NaN,unfurnished
149,5600000,4233.333333,4.0,2.0,1.0,yes,no,yes,no,no,0.0,yes,semi-furnished
154,5530000,3650.000000,3.0,2.0,1.0,yes,no,NaN,no,no,0.0,no,semi-furnished
164,5390000,6710.000000,1.0,2.0,1.0,yes,yes,yes,no,no,1.0,NaN,furnished
166,5320000,7800.000000,3.0,1.0,1.0,yes,no,NaN,no,yes,2.0,yes,unfurnished
195,4970000,4410.000000,4.0,3.0,1.0,yes,no,NaN,no,no,2.0,NaN,semi-furnished
203,4900000,5047.000000,1.0,1.0,2.0,yes,no,NaN,no,no,0.0,no,semi-furnished
205,4900000,5684.000000,1.0,1.0,1.0,yes,no,no,no,yes,2.0,no,semi-furnished
223,4760000,6321.000000,1.0,1.0,2.0,yes,no,yes,no,yes,0.0,NaN,furnished
224,4760000,10240.000000,1.0,1.0,1.0,yes,no,NaN,no,yes,0.0,yes,unfurnished
236,4620000,2870.000000,2.0,1.0,1.0,yes,yes,NaN,no,no,0.0,NaN,semi-furnished
246,4550000,3435.000000,3.0,1.0,1.0,yes,no,NaN,no,no,0.0,yes,semi-furnished
256,4480000,4000.000000,3.0,1.0,1.0,yes,no,NaN,no,no,2.0,no,furnished
273,4340000,3500.000000,4.0,1.0,2.0,yes,no,no,no,no,0.0,NaN,furnished
282,4270000,4675.000000,1.0,1.0,2.0,no,yes,yes,no,yes,0.0,no,unfurnished
289,4200000,5850.000000,2.0,1.0,1.0,yes,yes,yes,no,no,2.0,NaN,semi-furnished
294,4200000,5126.666667,4.0,1.0,2.0,no,no,no,no,no,0.0,no,semi-furnished
299,4200000,4403.333333,3.0,1.0,1.0,yes,no,NaN,no,no,3.0,no,furnished
313,4095000,3680.000000,1.0,1.0,2.0,yes,no,no,no,no,0.0,no,semi-furnished
321,4025000,3820.000000,1.0,2.0,1.0,yes,no,no,yes,no,2.0,NaN,semi-furnished
329,3990000,3960.000000,1.0,1.0,1.0,yes,no,no,no,no,0.0,no,furnished
349,3780000,4820.000000,3.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,semi-furnished
358,3745000,4170.000000,2.0,1.0,1.0,yes,no,no,no,no,0.0,yes,semi-furnished
374,3640000,3520.000000,1.0,1.0,1.0,yes,no,NaN,no,no,0.0,no,semi-furnished
380,3605000,4500.000000,1.0,1.0,1.0,yes,no,NaN,no,no,0.0,no,semi-furnished
381,3605000,4000.000000,1.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,semi-furnished
385,3570000,4120.000000,2.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
387,3500000,4240.000000,1.0,1.0,2.0,yes,no,no,no,yes,0.0,NaN,semi-furnished
388,3500000,3187.500000,1.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
390,3500000,2135.000000,3.0,1.0,1.0,no,no,NaN,no,no,0.0,NaN,unfurnished
401,3500000,9500.000000,1.0,1.0,1.0,yes,no,NaN,no,no,0.0,NaN,unfurnished
406,3465000,5320.000000,2.0,1.0,1.0,yes,no,NaN,no,no,0.0,yes,unfurnished
410,3430000,4160.000000,1.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
457,3115000,3000.000000,3.0,1.0,1.0,no,no,NaN,no,yes,0.0,NaN,unfurnished
458,3115000,3850.000000,3.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,unfurnished
462,3080000,3545.000000,3.0,1.0,2.0,no,no,yes,no,no,0.0,NaN,semi-furnished
467,3010000,3240.000000,3.0,1.0,1.0,yes,no,no,no,no,0.0,no,semi-furnished
479,2940000,3140.000000,4.0,1.0,1.0,no,no,NaN,no,no,0.0,no,unfurnished
484,2870000,3040.000000,2.0,1.0,1.0,no,no,no,no,no,0.0,no,unfurnished
521,2408000,3635.000000,2.0,1.0,1.0,no,no,no,no,no,0.0,no,unfurnished
524,2380000,3264.000000,1.0,1.0,1.0,yes,no,no,no,no,0.0,NaN,unfurnished
531,2233000,5300.000000,3.0,1.0,1.0,no,no,no,no,yes,0.0,yes,unfurnished
543,1750000,5300.000000,1.0,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished

In [242]:
#exporting the file
df.to_csv('C:\\Users\\ayush\\OneDrive\\Desktop\\ayush_jakhar_task4\\ayush_jakhar_task4.csv')